<div class="container">
    <h2 class="text-center mt-5 mb-3">Finalizar pedido</h2><hr>
    <div class="row">
        <div class="col-md-6 scroll overflow-auto">
            <h3 class="text-center">Resumo do pedido</h3><hr>
            <div *ngIf="checkout.length > 0; else vazio">
                <div class="row my-1 border-bottom p-2" *ngFor="let livro of checkout">                    
                    <div class="col-md-7 col-4">{{livro.livro.nome_livro}}</div>
                    <div class="col-md-1 col-2 text-center">{{livro.quantidade}}</div>
                    <div class="col-md-1 col-2">{{livro.livro.preco | currency:'BRL'}}</div>                    
                </div>
            </div><hr>
            <h4 class="text-right">Total: {{totalCarrinho | currency:'BRL'}}</h4>            
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Dados do comprador</h3><hr>
            <form>
                <div class="form-group">
                  <label for="nome">Nome completo: </label>
                  <input type="text" [(ngModel)]="nome" class="form-control" name="nome" id="nome" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="nascimento">Data de nascimento</label>
                    <input type="date" [(ngModel)]="dataNascimento" name="dataNascimento" class="form-control" id="nascimento" aria-describedby="emailHelp">
                  </div>
                <button type="submit" class="btn btn-primary pull-right" (click)="submit()">Finalizar pedido</button>
            </form>
        </div>
    </div>
</div>